@{
    ViewBag.Title = "Rover Remote Control";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4"><button class="btn btn-lg" data-movement="1"><span class="glyphicon glyphicon-arrow-up"></span></button></div>
    <div class="col-xs-4"></div>
</div>
<div class="row">
    <div class="col-xs-4"><button class="btn btn-lg" data-movement="5"><span class="glyphicon glyphicon-arrow-left"></span></button></div>
    <div class="col-xs-4"></div>
    <div class="col-xs-4"><button class="btn btn-lg" data-movement="6"><span class="glyphicon glyphicon-arrow-right"></span></button></div>
</div>
<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4"><button class="btn btn-lg" data-movement="2"><span class="glyphicon glyphicon-arrow-down"></span></button></div>
    <div class="col-xs-4"></div>
</div>
<div class="row">
    <div class="col-lg-12 pull-right"><button class="btn btn-lg" data-movement="7"><span class="glyphicon glyphicon-ban-circle"></span></button></div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("button").click(function (e) {
                var movement =
                    {
                        movement: $(this).data('movement')
                    };

                $.ajax({
                    type: "POST",
                    url: '@Url.HttpRouteUrl("MoveRover", null)',
                    data: JSON.stringify(movement),
                    contentType: "application/json; charset=utf-8"
                });
            });
        });
    </script>
}




